.tasks-for-date ul {
  list-style: none;
  padding: 0;
}

.tasks-for-date li {
  background: #ffffff;
  margin: 10px 0;
  padding: 10px;
  border-radius: 4px;
}

.react-calendar {
  width: 100%;
  max-width: 600px;
  background: white;
  border-radius: 20px;
  border: 1px solid #a0a096;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 40px;
  margin: 20px;
}

.react-calendar__tile {
  max-width: initial;
  text-align: center;
  padding: 15px 10px;
  background: #f0f0f0;
  border-radius: 5px;
  border: 1px solid #f8f8f8;
  transition: background 0.3s ease;
}

.react-calendar__navigation {
  background-color: #ffffff;
  margin: 10px 0px;
}

.react-calendar__navigation button {
  background-color: #ffffff;
  border: 1px solid black;
  height: 25px;
  padding: 3px;
  margin: 1px;
  border-radius: 3px;
}

.react-calendar__month-view__weekdays {
  text-decoration: none;
}

.react-calendar__tile:enabled:hover,
.react-calendar__tile:enabled:focus {
  background: #e6e6e6;
  border: 1px solid #b5b5b5;
}

.react-calendar__tile--active {
  background: #007bff;
  color: white;
  border: 1px solid #007bff;
}

.react-calendar__tile--now {
  background: #ffffa0;
  border: 1px solid #e3c800;
}

/* Media Queries for Mobile Screens */
@media screen and (max-width: 768px) {
  .react-calendar {
    padding: 20px;
    margin: 0px;
  }

  .react-calendar__tile {
    padding: 10px;
  }
}

@media screen and (max-width: 375px) {
  .react-calendar {
    padding: 10px;
    margin: 0px;
    width : 85vw;
    border-radius: 5px;
    box-shadow: 0px 2px 4px #121212;
    background-color: #121212;
    color : white;
  }

  .react-calendar__navigation{
    background-color: #121212;
    color : white;
  }

  .react-calendar__navigation button{
    background-color: #121212;
    color : white;
    border : 1px solid white;
  }

  .react-calendar__tile {
    padding: 5px;
    background-color: #121212;
    color : white;
  }
}
